<div class="mainContainer">
  <div class="bg"><img src="{{ imageSrc }}"></div>
  <canvas id="canvas" #viewer></canvas>

  <div class="main">
    <header>
      <div class="column">
        <div class="battery batteryOne">
        <p class="percentage">0%</p>
        <ul>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
        </ul>
        <p class="volts">0 volts</p>
        <p class="amps">0 amps</p>
      </div>
        <div class="battery batteryTwo">
        <p class="percentage">0%</p>
        <ul>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
        </ul>
        <p class="volts">0 volts</p>
        <p class="amps">0 amps</p>
      </div>
      </div>
      <div class="column">
        <div class="distance">
          00.00.00
        </div>
      </div>
      <div class="column">

        <div class="weather">
          <p class="temperature">0 degrees C</p>
          <p class="humidity">0% humidity</p>
        </div>

        <div class="battery solarPanel panelOne">
          <p class="capacity">0% capacity</p>
          <ul>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
          </ul>
          <p class="volts">0 volts</p>
          <p class="amps">0 amps</p>
        </div>
        <div class="battery solarPanel panelTwo">
          <p class="capacity">0% capacity</p>
          <ul>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
          </ul>
          <p class="volts">0 volts</p>
          <p class="amps">0 amps</p>
        </div>
      </div>
    </header>

    <section class="middle">
      <!-- <div class="driverMode">Automatic</div> -->

      <section class="alerts">
        <p>{{alert}}</p>
      </section>
    </section>

    <footer>
      <app-joystick
        [name]="'drive'"
        [up]="'w'"
        [down]="'s'"
        [left]="'a'"
        [right]="'d'"
        (onPress)="press($event)"
        (onRelease)="release($event)"
        class="driverController"></app-joystick>

      <app-joystick
      [name]="'track'"
      (onPress)="press($event)"
      (onRelease)="release($event)"
      class="trackerController"></app-joystick>

      <div class="btn break">break</div>

    </footer>
  </div>


</div>


