@import url('reset.css');
/*.less vars*/
body {
  font-family: arial;
  font-size: 10px;
  background-color: #ccc;
  -webkit-font-smoothing: antialiased;
}
#canvas {
  position: absolute;
  width: 96em;
  height: 64em;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.1);
}
.mainContainer {
  /*960x640 // 320x480 */

  position: relative;
  width: 96em;
  height: 64em;
  margin: 2em auto;
  z-index: 1;
  border: 0.4em solid #ddd;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mainContainer {
    font-size: 0.5em;
    margin: 0;
    -webkit-user-select: none;
  }
}
/*header*/
header {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  /*.battery*/

  /*solarPanel*/

}
header .column {
  overflow: hidden;
  float: left;
  width: 33%;
}
header .battery {
  padding-right: 1em;
  float: left;
}
header .battery ul {
  overflow: hidden;
  height: 1.5em;
  width: 5em;
  padding: 0 1% 0 2%;
  margin: 0.5em 0;
  border: 1px solid #00aeef;
}
header .battery ul li {
  float: left;
  width: 1em;
  height: 100%;
  padding: 2% 0 0 1%;
}
header .battery ul li div {
  width: 90%;
  height: 90%;
  background: #838dee;
}
header .solarPanel {
  float: right;
  padding: 0 0 0 1em;
}
header .weather {
  float: left;
}
header .distance {
  text-align: center;
  padding-top: 1em;
}
/*middle*/
.middle {
  width: 66.6%;
  margin: 20em auto;
  text-align: center;
}
/*footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 96%;
  height: 25em;
  overflow: hidden;
  padding: 0 2%;
  /*controller*/

  /*break*/

}
footer .controller {
  position: relative;
  width: 20em;
  height: 20em;
  margin: 1em;
  background-color: rgba(131, 141, 238, 0.1);
  border: 0.1em solid rgba(0, 174, 239, 0.3);
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
footer .controller p {
  position: absolute;
  width: 5em;
  padding: 1.6em 0 2em 0;
  text-align: center;
  background-color: rgba(131, 141, 238, 0.5);
  border: 0.1em solid #00aeef;
  top: 38%;
  left: 39%;
  color: #ddd;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
}
footer .controller p.active {
  opacity: 1;
}
footer .controller .btn {
  position: absolute;
  border: 4px solid #ddd;
  padding: 2em;
  cursor: pointer;
  background-color: rgba(0, 174, 239, 0.3);
  /*54x58*/

}
footer .controller .btn:hover,
footer .controller .btn.active {
  background-color: #ddd;
  color: #00aeef;
}
footer .controller .btn.up {
  top: -5%;
  left: 38%;
}
footer .controller .btn.down {
  bottom: -5%;
  left: 38%;
}
footer .controller .btn.left {
  top: 37%;
  left: -5%;
}
footer .controller .btn.right {
  top: 37%;
  right: -5%;
}
footer .driverController {
  float: left;
}
footer .trackerController {
  float: right;
}
footer .break {
  width: 40%;
  margin: 14.5em auto;
  text-align: center;
  border: 4px solid #ddd;
  padding: 2em;
  cursor: pointer;
  background-color: rgba(0, 174, 239, 0.3);
}
footer .break:hover,
footer .break.active {
  background-color: #ddd;
  color: #00aeef;
}
